* {
  margin: 0;
  padding: 0;
  outline: 0;
}
html {
  overflow-y: scroll;
}
ol,
ul {
  list-style: none;
}
img {
  border: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}

body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #585858;
}
.wrapper {
  margin: 0 auto;
  width: 1003px;
  background: #fff;
  position: relative;
}

.header,
.pageData,
.helpDesk,
.footer,
.innerData,
.accordian li,
.prTop,
.prLeft p,
.prHead ul,
.conData,
.aHold {
  clear: both;
  overflow: hidden;
  height: 100%;
}

.header a,
.nav,
.nav li,
.left,
.pLeft,
.h01,
.h02,
.footerL,
.iLeft,
div.pImg,
div.pDesc,
.prLeft,
.prHead li,
.fLeft,
.slider li,
div.pDesc a,
.conData p,
.aLeft {
  float: left;
  display: inline;
}
.nav ul,
.right,
.pRight,
.h03,
.footerR,
.iRight,
.prRight,
.fRight,
.prLeft p a,
.conData div,
.aRight,
.soundMovie {
  float: right;
  display: inline;
}
.nav li,
.banner,
.prList,
.prList .slider,
.inHold,
.prHead,
.prData > div {
  position: relative;
}
.nav .slide,
.prInfo,
.banner img,
.loader,
.prList span.prev,
.prList span.next,
.slider ul,
.prHead span,
.prData span,
.prData > div > img,
.prData .prLoader {
  position: absolute;
}

/*Header*/
.header {
  padding: 35px 0 0 35px;
}
.header a {
  width: 240px;
  height: 95px;
  background: url(../images/logo.jpg) 0 0 no-repeat;
}
.soundMovie {
  width: 40px;
  height: 40px;
}

/*Navigation*/
.nav {
  width: 100%;
}
.nav li {
  width: 133px;
  background: url(../images/divider.gif) 0 0 no-repeat;
  z-index: 1;
}
.nav li a {
  display: block;
  text-decoration: none;
  color: #959595;
  text-transform: uppercase;
  font-weight: bold;
  padding: 18px 0 2px 10px;
}
.nav li a:hover,
.nav li a.active {
  color: #ca373d;
}

.nav .slide {
  top: 35px;
  left: 0;
  width: 133px;
  z-index: 9999;
  display: none;
}
.slide ul {
  float: none;
}
.slide li {
  width: 100%;
  background: url(../images/subMenu.png) 0 0 repeat-x;
}

.slide li a {
  padding: 6px 0 5px 10px;
  color: #fff;
  font-size: 12px;
}
.slide li a:hover {
  color: #fff;
}
.nav li:hover div {
  display: block;
}

/*Banner*/
.banner {
  clear: both;
  z-index: 0;
  height: 436px;
  overflow: hidden;
}
.banner img {
  top: 0;
  left: 0;
  z-index: 50;
}
.loader {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../images/loader.gif) center center no-repeat;
  z-index: 51;
}

/*Page Data*/
.pageData {
  padding: 20px 0;
}
.pageData h2 {
  color: #ca373d;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 5px 0 10px 20px;
  background: #fff;
}
.pLeft {
  width: 665px;
  background: #f1ecec; /* box-shadow:5px 7px 5px #ccc;-webkit-box-shadow:5px 7px 5px #ccc;*/
}
.pRight {
  width: 330px;
  height: 250px;
  background: #f1ecec; /*box-shadow:-5px 7px 5px #ccc; -webkit-box-shadow:-5px 7px 5px #ccc;*/
}

.pLeft h2 {
  padding-left: 50px;
}

.prList {
  clear: both;
  margin: 0 auto;
  width: 620px;
  padding: 11px 0 12px 0;
}
.prList span.prev,
.prList span.next {
  width: 13px;
  height: 25px;
  top: 40%;
  background: url(../images/arrow.jpg) 0 0 no-repeat;
  cursor: pointer;
}
.prList span.prev {
  left: 0;
  background-position: 0 -25px;
}
.prList span.next {
  right: 0;
}
.prList span.disable {
  cursor: default;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.prList .slider {
  margin: 0 auto;
  width: 560px;
  height: 190px;
  overflow: hidden;
}
.slider ul {
  top: 0;
  left: 0;
  width: 5000px;
}
.slider li {
  width: 176px;
  height: 142px;
  margin: 0 16px 0 0;
  color: #9a9a9a;
}
.slider li p {
  font-weight: bold;
  padding: 10px 0 0 0;
}
.slider li p a {
  color: #9a9a9a;
  text-decoration: none;
}

/*Form*/
.form {
  padding: 0 0 0 20px;
  position: relative;
}
.form td {
  color: #666;
  padding: 6px 2px 6px 0;
}
.form td span {
  color: red;
}
.form input[type="text"],
.form select {
  border: 1px solid #d4d4d4;
  width: 160px;
  color: #666;
  font-size: 12px;
  padding: 2px 0;
}

.form input[type="reset"],
.form input[type="button"] {
  border: 0;
  background: #60605f url(../images/btnBg.png) 0 0 repeat-x;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 11px;
  vertical-align: middle;
  margin: 0 0 0 5px;
}

.formMsg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 97%;
  height: 101%;
  background: #fff url(../images/loader.gif) center center no-repeat;
  display: none;
}
.formMsg span {
  position: absolute;
  top: 120px;
  left: 12px;
  width: 100%;
  text-align: center;
}
.formMsg p {
  margin: 0 auto;
  width: 90%;
  font-size: 16px;
  padding: 80px 0;
  background: #fff;
  display: none;
}

/*Help Desk*/
.helpDesk {
  background: #ca373d;
  padding: 10px 15px;
  color: #fff;
}
.helpDesk a {
  color: #fff;
  text-decoration: none;
}
.helpDesk .h01 {
  width: 400px;
}
.helpDesk .h02 {
  width: 350px;
  text-align: center;
  display: none;
}
.helpDesk .h03 {
  width: 250px;
  text-align: right;
}

/*Footer*/
.footer {
  padding: 15px;
  color: #9a9a9a;
}
.footer a {
  color: #9a9a9a;
  text-decoration: none;
}
.footer span {
  margin: 0 2px;
}
.footerL {
  padding: 0 0 0 0;
}
.footerR {
  text-align: right;
}
.footerR p {
  padding: 0 0 10px 0;
  display: none;
}

/*Inner Page css*/
.inBanner {
  clear: both;
  height: 186px;
  overflow: hidden;
  border-top: 4px solid #bcbaba;
}
.bigImg {
  height: 255px;
}
.innerData {
  padding: 0 20px 0 30px;
  background: #f4f1f1;
}
.iLeft {
  width: 805px;
}
.iRight {
  width: 120px;
  padding: 10px 0 0 0;
}

.iLeft,
.inHold {
  background: url(../images/inLine.gif) 0 0 repeat-y;
}
.inHold {
  background-position: right 0;
  padding: 0 2px 15px 2px;
  overflow: hidden;
}
.pageTitle,
.inData,
.accordian ul li,
.accordian h4 {
  background: url(../images/inBtmLine.gif) 0 bottom repeat-x;
}
.pageTitle {
  font-size: 24px;
  color: #c5353b;
  text-transform: uppercase;
  font-weight: normal;
  padding: 10px 0 10px 35px;
}

.iRight li,
.iRight li a {
  background: url(../images/rightLink.jpg) 0 -55px no-repeat;
}
.iRight li {
  margin: 10px 0 0 0;
}
.iRight li a {
  text-decoration: none;
  font-size: 12px;
  color: #4a4a4a;
  font-weight: bold;
  text-transform: capitalize;
  display: block;
  padding: 5px 0;
  background-position: 110px -81px;
  text-align: center;
}

.iRight li.active {
  background-position: 0 0;
}
.iRight li.active a {
  background-position: 110px -27px;
  color: #d7d4d4;
}

.inData {
  padding-bottom: 10px;
}
.accordian {
  clear: both;
}
/*.accordian > div{height:370px; overflow:auto}*/
.accordian h4 {
  font-size: 19px;
  font-weight: normal;
  text-align: center;
  color: #726b6c;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.accordian h4 span {
  display: block;
  background: url(../images/accrArrow.png) right 11px no-repeat;
  padding: 5px 0;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.accordian h4.active {
  color: #ba3136;
}
.accordian h4.active span {
  background-position: right -29px;
}

.accordian li {
  padding: 10px 0 25px 35px;
}
div.pImg {
  width: 242px;
  height: 146px;
  border: 1px solid #ccc;
  overflow: hidden;
  background: url(../images/loader.gif) center center no-repeat;
}
div.pDesc {
  width: 410px;
  padding: 0 0 0 30px;
}

div.pDesc span {
  color: #ca373d;
  font-weight: bold;
}
div.pDesc p {
  text-align: justify;
  color: #606060;
  padding: 8px 0;
  height: 95px;
}
div.pDesc a {
  display: inline-block;
  background: #959595;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 10px;
  text-transform: capitalize;
  font-size: 11px;
}

/*Project Detail Page*/
.prDetail {
  clear: both;
  padding: 10px 30px;
}
.prTop {
  padding: 0 0 20px 0;
}
.prLeft {
  width: 310px;
  overflow: hidden;
  border: 1px solid #c5c5c5;
  padding: 12px 12px 6px 12px;
  background: #f4f4f4;
  -moz-box-shadow: 2px 2px 10px #999;
  -webkit-box-shadow: 2px 2px 10px #999;
  -ms-box-shadow: 2px 2px 10px #999;
  -o-box-shadow: 2px 2px 10px #999;
  box-shadow: 2px 2px 10px #999;
}
.prLeft div {
  width: 310px;
  height: 218px;
  overflow: hidden;
  border: 1px solid #ccc;
}
.prLeft div img {
  width: 100%;
}
.prLeft p {
  padding: 5px 0 0 0;
}
.prLeft p a {
  padding: 5px 20px 5px 0;
  font-weight: bold;
  color: #4b4b4a;
  font-size: 11px;
  cursor: pointer;
  background: url(../images/zoom.jpg) right center no-repeat;
  text-decoration: none;
}
.prLeft p a:hover {
  color: #ca383c;
}

.prRight {
  width: 350px;
  text-transform: capitalize;
}
.prRight p {
  color: #909090;
  padding: 5px 0 25px 0;
}
.prRight li a,
.prRight li {
  color: #ca383c;
}
.prRight li {
  padding: 0 0 10px 0;
  font-size: 14px;
}

.prBtm {
  clear: both;
}
.prBtm p {
  text-align: justify;
  line-height: 28px;
}

/*Project Details popup information - location, layout, floor plan, featurs, and download brochures*/

.prInfo {
  top: 43px;
  left: 0;
  width: 100%;
  background: #d6d6d6;
  display: none;
}

.prHead {
  background: #ca373d;
  padding: 8px 0 8px 24px;
  z-index: 1003;
}
.prHead span {
  top: 6px;
  right: 10px;
  color: #fff;
  cursor: pointer;
}
.prHead li a {
  display: block;
  text-transform: capitalize;
  color: #fb868c;
  text-decoration: none;
  font-size: 13px;
  border-left: 1px solid #fb868c;
  padding: 0 20px;
  line-height: 14px;
  vertical-align: bottom;
}
.prHead li a:hover,
.prHead li a.active {
  color: #fff;
}
.prHead li:first-child a {
  border: none;
}

.prData {
  clear: both;
  padding: 18px 0;
}
.prData span {
  width: 16px;
  height: 26px;
  top: 50%;
  background: url(../images/bigArrow.jpg) 0 0 no-repeat;
  cursor: pointer;
  display: none;
  z-index: 1003;
}
.prData span.prPrev {
  left: 10px;
}
.prData span.prNext {
  right: 10px;
  background-position: 0 -26px;
}
.prData > div {
  margin: 0 auto;
  width: 719px;
  height: 400px;
  overflow: hidden;
  border: 1px solid #e8e4e5;
  background: #fff;
}
.prData > div > img {
  top: 0;
  left: 0;
  z-index: 1001;
}

.prData .prLoader {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1002;
  background: url(../images/loader.gif) center center no-repeat;
}

/*Feature Data*/
.featureData {
  position: fixed;
  top: 100px;
  left: 100px;
  background: #fff;
  width: 850px;
  z-index: 9999;
  border: 1px solid #c0bfbd;
  overflow: hidden;
  display: none;
}
.fLeft {
  width: 270px;
  padding: 0 0 0 20px;
}
.fRight {
  width: 300px;
  padding: 0 80px 0 0;
}

.fRight h5 {
  text-transform: capitalize;
  font-size: 13px;
  color: #e23137;
  padding: 12px 0 5px 0;
}
.fRight li {
  padding: 0 0 5px 15px;
  background: url(../images/bullet.jpg) 0 5px no-repeat;
  color: #767676;
}

/*LightBox css*/
.closex {
  background: #fff;
  overflow: hidden;
  height: 100%;
  border-bottom: 1px solid #c6c5c1;
}
.closex span {
  float: right;
  color: #ca373d;
  cursor: pointer;
  padding: 5px;
  font-weight: bold;
  text-transform: capitalize;
}
.fBig {
  height: 500px;
  overflow: hidden;
  position: relative;
}
.fBig p {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../images/loader.gif) center center no-repeat;
  display: none;
}
.fBig img {
  position: absolute;
  top: 0;
  left: 0;
}
.fThumb {
  background: #7f7f7f;
  padding: 8px;
  overflow: hidden;
  height: 100%;
}
.fThumb ul {
  float: right;
}
.fThumb li {
  float: left;
  width: 60px;
  height: 40px;
  border: 1px solid #fff;
  margin: 0 0 0 3px;
  cursor: pointer;
}
.fThumb li a {
  display: block;
}

/*Static Data*/
.staticData {
  clear: both;
  padding: 30px 0 50px 50px;
  font-family: Verdana, Geneva, sans-serif;
}
.career {
  width: 440px;
}
.staticData h2 {
  color: #ca373d;
  font-size: 14px;
  text-transform: uppercase;
}
.staticData p {
  padding: 25px 0 0 0;
  line-height: 25px;
  font-size: 13px;
}
.staticData a {
  color: #ca373d;
  text-decoration: none;
}
.staticData a:hover {
  text-decoration: underline;
}

/*Contact Page*/
.contactUs {
  clear: both;
  margin: 0 auto;
  width: 800px;
  padding: 15px 0;
}
.contactUs h2 {
  text-transform: capitalize;
}
.conData {
  padding: 15px 0;
}
.conData p {
  width: 589px;
  height: 348px;
  overflow: hidden;
}
.conData div {
  color: #6e6e6e;
  line-height: 20px;
  padding: 203px 0 0 0;
}
.conData h4 {
  color: #ca373d;
  font-size: 14px;
  padding: 0 0 5px 0;
}
.conData a {
  color: #ca373d;
  text-decoration: none;
}
.conData a:hover {
  text-decoration: underline;
}

/*Amenities*/
.amenities {
  display: none;
}

.project-gallery-image {
  width: 100%;
  height: 400px;
}
.aHold {
  padding: 15px;
}
.aLeft {
  width: 193px;
  height: 136px;
  border: 1px solid #c7c7c7;
  padding: 10px;
  -moz-box-shadow: 2px 2px 10px #999;
  -webkit-box-shadow: 2px 2px 10px #999;
  -ms-box-shadow: 2px 2px 10px #999;
  -o-box-shadow: 2px 2px 10px #999;
  box-shadow: 2px 2px 10px #999;
}
.aLeft img {
  width: 193px;
  height: 136px;
}
.aRight {
  width: 440px;
  height: 370px;
  overflow: auto;
}

.aRight ul {
  padding: 8px 0 25px 0;
  color: #606060;
  font-size: 13px;
}
.aRight h4 {
  font-size: 13px;
}
.aRight li {
  background: url(../images/list.gif) 0 8px no-repeat;
  padding: 0 0 5px 10px;
}

/*Coming Soon*/
.comingSoon {
  clear: both;
  background: #fff url(../images/inBtmLine.gif) 0 bottom repeat-x;
  padding: 150px 0;
  text-align: center;
  font-size: 22px;
  color: #c5353b;
}

/*Overlay*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9998;
  display: none;
}

.disclaimer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.disclaimer-content {
    background: #FFFFFF;
    width: 70%;
    font-size: 16px;;
    color: #666666;
    line-height: 1.42857143;
    display: flex;
    flex-direction: column;
    height: 85%;
    margin-top: -100%;
    opacity: 0;
    transition: all linear 0.4s
}
.disclaimer-content.in {
    margin-top: 0;
    opacity: 1;
}

.disclaimer-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.disclaimer-title {
    font-size: 21px;
    color: #3667B1;
    font-weight: normal
}
.disclaimer-body {
    padding: 15px;
    flex: 1;
    overflow: auto;
}

.disclaimer-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.disclaimer-button {
    background: #3667B1;
    border: none;
    color: #FFFFFF;
    padding: 15px 25px;
    cursor: pointer;
}

/*Sales*/
.sales {
  padding: 0;
  position: relative;
  height: 827px;
}
.sales img {
  width: 100%;
}
.sales div input {
  border: 1px solid #999;
  font-size: 14px;
  width: 240px;
  height: 25px;
  position: absolute;
  border: none;
}
.sales div input#name {
  bottom: 146px;
  right: 298px;
}
.sales div input#email {
  bottom: 100px;
  right: 298px;
}
.sales div input#contact {
  bottom: 146px;
  right: 9px;
  width: 173px;
}
.sales div input#submit {
  bottom: 99px;
  right: 158px;
  width: 125px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
